
// @-webkit-keyframes bounce {
//     50% {
//         -webkit-transform: translateX(-15px);
//         transform: translateX(-15px);
//         }
// }  
// @-o-keyframes bounce {
//     50% {
//         -webkit-transform: translateX(-15px);
//         transform: translateX(-15px);
//         }
// } 

// @keyframes bounce {
//     50% {
//         -webkit-transform: translateX(-15px);
//         transform: translateX(-15px);
//         }
// }  






